# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Media and Static
media/
staticfiles/
!media/.gitkeep

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Excel Temp Files
~$*.xlsx
~$*.xls

# Jupyter
.ipynb_checkpoints/
